<template>
    <LayoutVue>
        <section
            class="section section-light blank-section column is-12 mb-6 pb-6"
        >
            <div class="columns is-multiline">
                <div class="title is-1 mb-3 pl-5">Comment ça marche ?</div>
                <div class="column is-12 py-3 has-text-justified pl-5">
                    Le projet d'Autonomisation des Femmes et Dividende
                    Démographique au Sahel - Sahel Women's Empowerment and
                    Demographic Dividend (SWEDD) a pour objectif d'accroître
                    l'accès des femmes et des adolescentes à la santé sexuelle
                    et reproductive, notamment la planification familiale
                    volontaire et la santé maternelle. Cette initiative
                    régionale améliore également la santé et la nutrition des
                    enfants, renforce l'éducation des filles et s'emploie à
                    mettre fin au mariage des enfants et à d'autres pratiques
                    néfastes. Cette plateforme permet la visualisation des
                    statistiques des intrants regroupés par pays sous forme de
                    graphe et de tableaux (tableau de bord)
                </div>
                <br />
                <div class="is-mobile-justify-content pl-5 py-3">
                    <HowWorkBurkina />
                </div>
            </div>
        </section>
    </LayoutVue>
</template>

<script>
import HowWorkBurkina from '~/components/HowWorkBurkina.vue';

export default {
    components: {
        HowWorkBurkina,
    },
    metaInfo: {
        title: 'Comment ça marche ?',
    },
    filters: {
        // Filter definitions
        Upper(value) {
            const leftletter = value.substring(0, 1);
            const rightvalue = value.substring(1);
            return leftletter.toUpperCase() + rightvalue;
        },
    },
    data() {
        return {
            isSubcategorie: false,
            categories: [],
            category: 'comment ça marche ?',
        };
    },
    methods: {},
};
</script>

<style scoped lang="scss">
@import '../variables.scss';

.background-orange {
    background-color: $secondary-color;
}
</style>
