<template>
    <LayoutVue container="">
        <Welcome />
        <section
            id="section-thematiques"
            class="section section-grey custom-container"
        >
            <div class="block">
                <p class="card-section-header title">Quelques Indicateurs</p>
                <div class="grid is-hidden-mobile">
                    <div class="card flex-center">
                        <Analytic
                        :indice-name="' Produits'"
                        :indiceValue="recapData.produits"
                            icon="pills.svg"
                        />
                    </div>
                    <div class="card flex-center">
                        <Analytic
                        :indice-name="' Centres'"
                        :indiceValue="recapData.centres"
                            icon="location.svg"
                        />
                    </div>
                    <div class="card flex-center">
                        <Analytic
                        :indice-name="' Bénéficiaires'"
                        :indiceValue=" '+' +
                            $options.filters.abbreviateNumber(recapData.beneficiaires)"
                        icon="people.svg"
                        />
                    </div>
                    <div class="card">
                        <Analytic
                        :indice-name="' de taux de satisfaction d\'approvisionnement'"
                        :indiceValue="$options.filters.round1Fixed(recapData.taux_approvisionnement)+'%'"
                        icon="truck.svg"
                        />
                    </div>
                    <div class="card">
                        <Analytic
                        :indice-name="' jours en moyenne de rupture de stocks'"
                        :indiceValue="$options.filters.round1Fixed(recapData.duree_moyenne)"
                        icon="duration.svg"
                        />
                    </div>
                    <div class="card">
                        <Analytic
                        :indice-name="' de taux de produits périmés'"
                        :indiceValue="$options.filters.round1Fixed(recapData.taux_peremption)+'%'"
                        icon="perime.svg"
                        />
                    </div>
                </div>
            </div>
            <b-carousel class="is-hidden-tablet">
                <b-carousel-item>
                    <section :class="`hero is-medium `">
                        <div class="hero-body has-text-centered">
                            <Analytic
                            :indice-name="' Produits'"
                            :indiceValue="recapData.produits"
                            icon="pills.svg"
                            />
                        </div>
                    </section>
                </b-carousel-item>
                <b-carousel-item>
                    <section :class="`hero is-medium `">
                        <div class="hero-body has-text-centered">
                            <Analytic
                            :indice-name="' Centres'"
                            :indiceValue="recapData.centres"
                            icon="location.svg"
                            />
                        </div>
                    </section>
                </b-carousel-item>
                <b-carousel-item>
                    <section :class="`hero is-medium `">
                        <div class="hero-body has-text-centered">
                            <Analytic
                            :indice-name="' Bénéficiaires'"
                            :indiceValue=" '+' +
                                $options.filters.abbreviateNumber(recapData.beneficiaires)"
                            icon="people.svg"
                            />
                        </div>
                    </section>
                </b-carousel-item>
                <b-carousel-item>
                    <section :class="`hero is-medium `">
                        <div class="hero-body has-text-centered">
                            <Analytic
                            :indice-name="'de taux de satisfaction d\'approvisionnement'"
                            :indiceValue="$options.filters.round1Fixed(recapData.taux_approvisionnement)+'%'"
                            icon="truck.svg"
                                />
                        </div>
                    </section>
                </b-carousel-item>
                <b-carousel-item>
                    <section :class="`hero is-medium `">
                        <div class="hero-body has-text-centered">
                            <Analytic
                            :indice-name="' jours en moyenne de rupture de stocks'"
                            :indiceValue="$options.filters.round1Fixed(recapData.duree_moyenne)"
                            icon="duration.svg"
                            />
                        </div>
                    </section>
                </b-carousel-item>
                <b-carousel-item>
                    <section :class="`hero is-medium `">
                        <div class="hero-body has-text-centered">
                            <Analytic
                            :indice-name="'de taux de produits périmés'"
                            :indiceValue="$options.filters.round1Fixed(recapData.taux_peremption)+'%'"
                            icon="perime.svg"
                            />
                        </div>
                    </section>
                </b-carousel-item>
            </b-carousel>
            <div class="infos" style="margin-top: 5%">
                <p>
                    Pour plus d'informations, <a href="#stats">cliquez ici</a>
                </p>
            </div>
        </section>
        <Partner />
    </LayoutVue>
</template>

<script>
import axios from 'axios';

import Analytic from '~/components/Analytic.vue';
import Partner from '~/components/Partner.vue';
import Welcome from '~/components/Welcome.vue';

export default {
    name: 'IndexPage',
    components: {
        Welcome,
        Partner,
        Analytic,
    },
    metaInfo: {
        title: 'Accueil',
    },
    filters: {
        // Filter definitions
        toPercent(value) {
            return `${value.toLocaleString()}%`;
        },
        
        formatNumber(value) {
            return `${value.toLocaleString()}`;
        },

        abbreviateNumber(value) {
            var newValue = value;
            if (value >= 1000) {
                var suffixes = ["", " K", " M", " Md"," T"];
                var suffixNum = Math.floor( (""+value).length/3 );
                var shortValue = '';
                for (var precision = 2; precision >= 1; precision--) {
                    shortValue = parseFloat( (suffixNum != 0 ? (value / Math.pow(1000,suffixNum) ) : value).toPrecision(precision));
                    var dotLessShortValue = (shortValue + '').replace(/[^a-zA-Z 0-9]+/g,'');
                    if (dotLessShortValue.length <= 2) { break; }
                }
                if (shortValue % 1 != 0)  shortValue = shortValue.toFixed(1);
                newValue = shortValue+suffixes[suffixNum];
            }
            return newValue;
        },

        round1Fixed(value) {
            value = +value;

            if (isNaN(value)){
              return NaN;
            }

            // Shift
            value = value.toString().split('e');
            value = Math.round(+(value[0] + 'e' + (value[1] ? (+value[1] + 2) : 2)));

            // Shift back
            value = value.toString().split('e');
            return  `${(+(value[0] + 'e' + (value[1] ? (+value[1] - 2) : -2))).toFixed(1)}`; 
        },


    },
    data() {
        return {
            recapData: {
                produits: 0,
                centres: 0,
                beneficiaires: 0,
                taux_approvisionnement: 0,
                duree_moyenne: 0,
                taux_peremption: 0,
            },
            isSubcategorie: false,
        };
    },
    async mounted() {
        try {
            const resultsBurkina = await axios.get(
                process.env.GRIDSOME_API_INDICATOR_BURKINA_FASO,
            );
            this.recapData = resultsBurkina.data;
        } catch (error) {
            this.recapData = {
                produits: 0,
                centres: 0,
                beneficiaires: 0,
                taux_approvisionnement: 0,
                duree_moyenne: 0,
                taux_peremption: 0,
            };
        }
    },
};
</script>

<style>
@media only screen and (min-width: 1024px) {
    .contentMarges {
        padding-left: 0.8em;
        padding-right: 0.8em;
    }
}
@media only screen and (max-width: 768px) {
    .card-section-header {
        text-align: center;
    }
}

@media only screen and (max-width: 415px) {
    .is-category-touch {
        margin-bottom: 2em;
    }

    .is-notif-description {
        margin-top: -4em;
    }

    .card-section-header {
        font-size: 1.7rem;
        line-height: 1.25em;
        font-family: 'Evolventa', 'lato', sans-serif;
        font-weight: bold;
    }
}
.infos {
    text-align: center;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}
.hero {
    height: 320px !important;
    background-color: white;
    align-items: center;
    -webkit-box-shadow: 0 1px 2px rgba(201, 211, 223, 0.2);
    box-shadow: 0 1px 2px rgba(201, 211, 223, 0.2);
    box-shadow: var(--theme-box-shadow);
}
.hero-body {
    align-items: center;
    text-align: center;
}
.flex-center .card__content {
    justify-content: center;
    align-items: center;
    display: flex;
}
</style>
