<template>
    <LayoutVue>
        <div
            class="container px-3 has-background-white is-mobile-justify-content"
        >
            <figure class="pt-6 is-flex is-justify-content-center">
                <g-image
                    src="@/assets/swedd.png"
                    alt="Produit Swedd"
                    class="mx-auto"
                    title="Produit Swedd"
                />
            </figure>
            <h2 class="has-text-weight-bold my-5 is-size-3"></h2>
            <p class="mb-2">
                Le Sahel est l’une des régions les plus pauvres au monde, où
                l’extrême pauvreté, les changements climatiques, les conflits
                armés et l’insécurité menacent la vie de millions de personnes.
                Le <strong>manque d’opportunités économiques</strong>, en
                particulier pour les <strong>jeunes,</strong> combiné avec la
                <strong>faiblesse des services sociaux</strong> de base et l’
                <strong>absence de filets sociaux</strong> rendent les
                populations plus vulnérables à l’
                <strong>insécurité alimentaire,</strong> à la
                <strong>malnutrition,</strong> à la
                <strong>radicalisation</strong> et aux
                <strong>maladies.</strong>
            </p>

            <p>
                Dans la plupart des pays de la région, les efforts de croissance
                économique remarquables observés au cours des dernières
                décennies, qui se sont traduits par des taux de croissance de
                l’ordre de cinq pour cent (5%) par an, sont anéantis par une
                croissance démographique rapide qui accentue la pauvreté en
                amenuisant les revenus par habitant. Plus de soixante pour cent
                (60 %) de la population vit avec moins de deux (02) dollars par
                jour. Des milliers de femmes meurent chaque jour de causes
                évitables liées à la grossesse. Alors que les avantages de la
                scolarisation sont bien reconnus, dans certains pays, des
                millions d’enfants sont privés d’éducation et se retrouvent dans
                la rue à cause des conflits qui limitent les possibilités
                d’accès à l’école.
            </p>
            <br />

            <p>
                Pour apporter une réponse à ces défis et améliorer le bien-être
                des populations de la région du Sahel, la réponse concertée des
                Chefs d’Etat pour l’Autonomisation des femmes et des jeunes
                filles dans la Région du Sahel s’est traduite par la mise en
                place du projet « Autonomisation des Femmes et Dividende
                Démographique au Sahel » (SWEDD). Démarré par six pays (Burkina
                Faso, Côte d'Ivoire, Mali, la Mauritanie, Niger, Tchad) avec
                l’appui financier de la Banque Mondiale et l'appui technique
                conjoint de l'UNFPA et de l’Organisation Ouest Africaine de la
                Santé pour une durée initiale de quatre (4) ans, le projet est
                structuré autour de trois (3) composantes et vise à accélérer la
                transition démographique en vue de créer les conditions d’un
                Dividende Démographique (DD) à travers le renforcement de
                l’autonomisation des femmes, des filles et des adolescentes.
            </p>
            <br />

            <p class="mb-5">Le projet comporte trois composantes :</p>

            <ul class="mb-3">
                <li class="is-flex px-3 is-align-items-center mb-5">
                    <em
                        aria-hidden="true"
                        class="fas fa-dot-circle mr-5 has-text-success"
                    ></em>
                    <p>
                        <strong>La composante 1 :</strong>
                        relative à l’accroissement de la demande et
                        l’utilisation des produits et des services de SRMNIN en
                        favorisant le changement social et comportemental et
                        l'autonomisation des femmes et des adolescentes.
                    </p>
                </li>
                <li class="is-flex px-3 is-align-items-center mb-5">
                    <em
                        aria-hidden="true"
                        class="fas fa-dot-circle mr-5 has-text-success"
                    ></em>
                    <p>
                        <strong>La composante 2 :</strong>
                        delative au renforcement des capacités régionales pour
                        la sécurisation des produits et l’accroissement du
                        personnel de santé qualifié pour l’offre de services
                        SRMNIN de qualité.
                    </p>
                </li>

                <li class="is-flex px-3 is-align-items-center">
                    <em
                        aria-hidden="true"
                        class="fas fa-dot-circle mr-5 has-text-success"
                    ></em>
                    <p>
                        <strong>La composante 3 :</strong>
                        relative au plaidoyer et la concertation de haut niveau
                        et le renforcement des capacités pour l'élaboration des
                        politiques de développement.
                    </p>
                </li>
            </ul>
            <p class="mb-5">
                Dans l’optique de renforcer la mise en œuvre la composante 2, le
                Bureau régional pour l’Afrique de l’Ouest et du Centre de
                l’UNFPA à travers le Secrétariat technique régional (STR) a
                recruté l’ONG dénommée Centre Humanitaire des Métiers de la
                Pharmacie (CHMP) comme partenaire d’exécution. Il est prévu le
                déploiement d’un dispositif offrant des services intégrés de
                proximité à la population en situation de Pandémie du COVID19,
                permettant ainsi de garantir la disponibilité des produits de
                santé et des travailleurs de la santé qualifiés, notamment en
                matière de SRMNIN.
            </p>
            <p class="mb-5">Il est attendu de la mise en œuvre du PTA 2020 :</p>
            <ul class="mb-3">
                <li class="is-flex px-3 is-align-items-center mb-5">
                    <em
                        aria-hidden="true"
                        class="fas fa-dot-circle has-text-success mr-5"
                    ></em>
                    <p>
                        Un dispositif d’offre de services de SRMNIN intégrés et
                        de proximité à la population en situation de pandémie de
                        la COVID19 est mise en place et rendu opérationnel dans
                        les régions ciblées par le projet SWEDD.
                    </p>
                </li>
                <li class="is-flex px-3 is-align-items-center mb-5">
                    <em
                        aria-hidden="true"
                        class="fas fa-dot-circle has-text-success mr-5"
                    ></em>
                    <p>
                        Un dispositif digitalisé de renforcement des compétences
                        à distance est mis en place et permet d’informer le
                        public sur la COVID19 et de former le personnel soignant
                        sur l’opérationnalisation des services intégrés de
                        proximité.
                    </p>
                </li>

                <li class="is-flex px-3 is-align-items-center">
                    <em
                        aria-hidden="true"
                        class="fas fa-dot-circle has-text-success mr-5"
                    ></em>
                    <p>
                        Garantir la continuité pédagogique dans les écoles de
                        sages-femmes à travers la mise en place d’une plateforme
                        d’interconnexion entre les centres d’excellence de la
                        Côte d’Ivoire, du Mali et du Niger.
                    </p>
                </li>
            </ul>

            <p class="mb-2">
                Aujourd’hui, le Cameroun, le Benin et la Guinée se sont rajoutés
                aux 6 PAYS SWEDD.
            </p>
            <h2 class="has-text-weight-bold my-5 is-size-3">Bailleur</h2>

            <div class="columns is-12">
                <figure
                    class="column is-4-desktop is-6-tablet is-12-mobile image is-align-items-center"
                >
                    <a href="https://www.expertisefrance.fr/" target="_blank">
                        <g-image
                            alt="Expertise France"
                            title="Expertise France"
                            src="~/assets/partners/logo-banque.png"
                        />
                    </a>
                </figure>
            </div>
        </div>
        <br />
    </LayoutVue>
</template>

<script>
export const ReadMore = 'Lire suite';
export default {
    name: 'Projectsweddpage',
    metaInfo: {
        title: 'Projet SWEDD',
    },
    data() {
        return {
            partners: ['logo-banque.png'],
        };
    },
    methods: {
        insertSpacing(index, array, space) {
            if (index + 1 < array.length) {
                return space;
            }
            return 0;
        },
    },
};
</script>

<style lang="scss">
.main_title {
    min-height: 20rem;
    margin-top: -0.75rem !important;
}
@media (max-width: 767px) {
    template {
        text-align: justify;
    }
}
</style>
