<template>
  <div class="section">
    <section class="has-text-justified py-0">
      <vue-markdown class="content">{{ $static.page.content }}</vue-markdown>
    </section>
  </div>
</template>

<static-query>
query {
  page: staticPage(path: "/content/pages/indicateurs-cameroun/") {
    id
    path
    title
    content
    date
  }
}

</static-query>

<script>
import VueMarkdown from 'vue-markdown';

export default {
  name: 'HowWorkCameroun',
  components: {
    VueMarkdown,
  },
};
</script>
