<template>
  <section class="section section-lightest-grey has-text-centered">
    <h2 class="text-contain">
      Cette plateforme est une initiative du projet SWEDD et de ses partenaires
    </h2>
    <div class="container py-6">
      <b-carousel-list
        ref="carousel"
        :data="partners"
        :items-to-show="5"
        repeat
      >
        <template #item="partner">
          <figure
            class="image partner is-flex is-align-items-center is-justify-content-center p-2"
          >
            <a :href="partner.link">
              <g-image
                :alt="partner.alt"
                :title="partner.title"
                :src="require(`@/assets/${partner.src}`)"
              />
            </a>
          </figure>
        </template>
      </b-carousel-list>
    </div>
  </section>
</template>
<script>
export default {
  name: 'PartnerComponent',
  data() {
    return {
      partners: [
        {
          alt: 'swedd',
          title: 'swedd',
          src: 'logo/swedd_logo.png',
          link: ' http://www.projetswedd.org/',
        },
        {
          alt: 'chmp',
          title: 'primary',
          src: 'logo/chmp.png',
          link: 'https://www.chmp.org/',
        },
        {
          alt: 'banque_mondiale',
          title: 'banque_mondiale',
          src: 'partners/banque_mondiale.png',
          link: 'https://www.banquemondiale.org/',
        },
        {
          alt: 'CEDEAO',
          title: 'CEDEAO',
          src: 'partners/CEDEAO.png',
          link: 'https://www.wahooas.org/',
        },
        {
          alt: 'CILSS',
          title: 'CILSS',
          src: 'partners/CILSS.png',
          link: 'https://www.insah.org/',
        },
        {
          alt: 'Fondation_bill',
          title: 'Fondation_bill',
          src: 'partners/Fondation_bill.jpg',
          link: 'https://www.gatesfoundation.org/fr/',
        },
        {
          alt: 'OMS',
          title: 'OMS',
          src: 'partners/OMS.png',
          link: 'https://www.who.int/fr/',
        },
        {
          alt: 'ONU',
          title: 'ONU',
          src: 'partners/ONU.png',
          link: 'https://www.onufemmes.org/',
        },
      ],
    };
  },
  mounted() {
    this.intervalCarousel = setInterval(() => {
      this.$refs.carousel.next();
    }, 3000);
  },
};
</script>
<style lang="scss" scoped>
@media only screen and (min-width: 200px) and (max-width: 768px) {
  .text-contain {
    padding-right: 30px;
    padding-left: 30px;
  }
}
.partner {
  height: 100%;
}
.carousel-list.has-shadow {
  box-shadow: none;
}
</style>
