<template>
  <section
    class="section custom-container background-orange has-text-white px-6"
  >
    <div class="is-size-4 has-text-centered is-size-4-mobile">
      Explorez les indicateurs de collecte de chacun des pays cibles du projet
      en cliquant sur l'un des drapeaux ci-dessous !
    </div>
    <div class="mb-6 is-size-6 has-text-centered is-size-6-mobile">
      La supervision du projet OCoPP dans chaque pays cible est assuré par l'UCP
      (Unité de Coordination Pays): Positive-Generation au Cameroun et le RAME
      au Burkina-Faso.
    </div>
    <div
      class="columns is-tablette has-text-centered is-centered is-flex-justify-content-space-between"
    >
      <div class="column is-half img-wrapper">
        <figure style="margin: auto">
          <a href="/suivi-des-indicateurs">
            <g-image
              src="@/assets/cameroon.png"
              class="country inner-img"
              alt="Cameroun"
            />
            <p>Cameroun</p>
          </a>
        </figure>
      </div>

      <div class="column is-half img-wrapper">
        <figure style="margin: auto">
          <a href="/burkina-suivi-des-indicateurs">
            <g-image
              src="@/assets/burkina.png"
              class="country inner-img"
              alt="Burkina Faso"
            />
            <p>Burkina Faso</p>
          </a>
        </figure>
      </div>
    </div>
  </section>
</template>

<script>
import axios from 'axios';

export default {
  name: 'StatistiqueComponent',
  data() {
    return {
      entreprise: 0,
      employe: 0,
    };
  },
  async mounted() {
    const userId = 'user_PsWE48TyrajqLoU176FPb';
    const accessToken = 'cb80a1ee9737bb20190c99a92acc4dd0';

    const results = await axios.get(
      `https://api.emailjs.com/api/v1.1/history?user_id=${userId}&accessToken=${accessToken}`
    );
    this.entreprise =
      results.data.rows.length === 0 ? 10 : results.data.rows.length;
    this.employe = this.entreprise * 10;
  },
};
</script>

<style scoped lang="scss">
@import '../variables.scss';

.size-3 {
  font-size: 1.3 rem;
}

.background-orange {
  background-color: $secondary-color;
}
.country {
  width: auto;
  max-height: 200px;
  margin-bottom: 10px;
}

.img-wrapper {
  overflow: hidden;
}

.inner-img {
  transition: 0.3s;
}

.inner-img:hover {
  transform: scale(1.1);
  border-radius: 50px;
  box-shadow: 0 5px 35px 0px rgba(0, 0, 0, 0.1);
}
a:hover {
  color: white !important;
}
</style>
