<template>
    <header
        class="columns is-desktop custom-container is-vcentered is-justify-content-space-between px-6 mt-0 pt-6"
    >
        <figure class="image logo is-flex is-align-items-center mb-0 pb-5">
            <a href="/">
                <g-image
                    src="@/assets/logo/swedd_logo.png"
                    title="Automatisation des Femmes et Dividende Démographique au Sahel"
                    alt="SWEDD logo"
                />
            </a>
            <a href="http://www.chmp.org/">
                <g-image
                    src="@/assets/logo/chmp.png"
                    title="Centre Humanitaire des Métiers de la Pharmacie"
                    alt="Chmp logo"
                />
            </a>
            <a
                role="button"
                class="navbar-burger is-hidden-desktop"
                aria-label="menu"
                aria-expanded="false"
                @click="toogleMenu"
            >
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </figure>
        <!-- Menu items -->
        <ul
            class="columns is-vcentered navbar_menu pb-5 ml-1"
            :class="isActive ? 'is-block-touch' : 'is-hidden-touch'"
        >
            <li
                v-for="(menu, menu_index) in menus"
                :key="menu_index"
                class="is-flex is-align-items-center"
            >
                <b-navbar-dropdown
                    v-if="menu.hasOwnProperty('subMenus')"
                    :label="menu.name"
                    collapsible
                >
                    <b-navbar-item
                        v-for="(subMenu, subMenu_index) in menu.subMenus"
                        :key="subMenu_index"
                        :to="subMenu.link"
                        tag="g-link"
                        class="has-text-black is-not-underlined"
                    >
                        {{ subMenu.name }}
                    </b-navbar-item>
                </b-navbar-dropdown>
                <b-navbar-item
                    v-else
                    :to="menu.link"
                    tag="g-link"
                    class="has-text-black is-not-underlined"
                >
                    {{ menu.name }}
                </b-navbar-item>
            </li>
        </ul>
    </header>
</template>

<script scoped>
export default {
    data() {
        return {
            isActive: false,
            menus: [
                {
                    name: 'Supervision',
                    link: 'burkina-suivi-des-indicateurs',
                },
                {
                    name: 'Comment ça marche ?',
                    link: 'comment-ca-marche',
                },
                {
                    name: 'Contact',
                    link: 'contactez-nous',
                },
            ],
        };
    },
    methods: {
        toogleMenu() {
            this.isActive = !this.isActive;
        },
    },
};
</script>

<style scoped lang="scss">
@import '../variables.scss';

.custom-container {
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 8px, rgb(26 26 26 / 8%) 0px -1px 4px;
    & .logo {
        & img {
            max-width: 200px;
            height: auto;
        }
    }
}
</style>
