<template>
    <section class="custom-container my-6 section-white px-6">
        <div class="columns is-desktop boxs">
            <div
                class="column mydiv is-flex is-flex-direction-column is-justify-content-space-between home-title is-two-third-desktop is-12-mobile"
            >
                <div class="columns is-multiline">
                    <div class="column is-8 p-0 pl-3">
                        <h1>
                            Autonomisation des Femmes et Dividende Démographique
                            au Sahel (SWEDD)
                        </h1>
                    </div>
                    <div class="column is-10 p-0 subtitle pl-3">
                        Favoriser l’émancipation des femmes et des adolescentes,
                        ainsi que leur accès à des services de santé
                        reproductive, maternelle et infantile de qualité.
                    </div>
                </div>

                <div
                    class="columns mybox pt-5 has-text-center is-vcentered is-multiline"
                >
                    <div class="column is-5">
                        <b-button
                            tag="a"
                            href="/contactez-nous"
                            type="is-primary"
                            size="is-large"
                        >
                            <em class="fas fa-phone-alt"></em>
                            Contactez-nous
                        </b-button>
                    </div>
                    <div class="column pt-5 is-5 itworks">
                        <a href="http://www.projetswedd.org/">En savoir plus</a>
                    </div>
                </div>
            </div>
            <div
                id="image-home"
                class="column mypics is-one-third-desktop is-12-mobile has-text-center"
            >
                <figure class="image">
                    <g-image
                        src="~/assets/header_swedd.png"
                        alt="SWEDD"
                        fit="inside"
                    />
                </figure>
            </div>
        </div>
    </section>
</template>

<script>
export default {
    name: 'WelcomeComponent',
    props: {},
};
</script>
<style scoped lang="scss">
@import '../variables.scss';

@media only screen and (max-width: 415px) {
    .callcenter {
        padding: 0.5em;
        font-size: 0.8em;
    }
    .itworks {
        margin-top: 0em !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .boxs {
        display: flex;
    }
    .mydiv {
        width: 500px;
    }
    .mypics {
        margin-top: -100px;
        margin-left: -40px;
    }
    .mybox {
        display: flex;
    }
}
</style>
